<div>
    @switch (ProcessViewName)
    {
        case "Registration":
            <Registration Model="@Model" ProcessId="@ProcessId" ProcessEngine="@ProcessEngine"></Registration>
            break;
        case "EmailValidation":
            <EmailValidation Model="@Model" ProcessId="@ProcessId" ProcessEngine="@ProcessEngine"></EmailValidation>
            break;
    }
</div>

@code {

    [Parameter]
    public string ProcessViewName { get; set; }

    [Parameter]
    public long ProcessId { get; set; }

    [Parameter]
    public object Model { get; set; }

    [Parameter]
    public Cvl.ApplicationServer.Server.Node.Processes.Interfaces.IProcessEngine ProcessEngine { get; set; }

}
