<div class="row">
    <div class="col-lg-8 mx-auto">
        <h1 class="pt-5 pb-3">Hello World View</h1>
        <p>
            Hello world test form.
        </p>

        <h2>@Model.MessageToTheWorld</h2>
        <p>
            Message from process: @Model.AnotherMessage at @Model.DateTimeFromProcess
        </p>

        <EditForm Model="@Model" OnValidSubmit="@OnSubmit">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group mt-5">
                <h3>User data</h3>
            </div>
            <div class="form-group">
                <label asp-for="Model.UserEmail" class="control-label">Email</label>
                <InputText class="form-control" @bind-Value="Model.UserEmail" />
                <span asp-validation-for="Model.UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model.MessageFromUser" class="control-label">Message</label>
                <InputText class="form-control" @bind-Value="Model.MessageFromUser" />
            </div>
            <button class="btn btn-primary btn-block mt-2" type="submit"> Confirm </button>

        </EditForm>
    </div>
</div>


@code {
    [Parameter]
    public Cvl.ApplicationServer.Server.Node.Processes.Model.UI.BlazorFrontEnd.BlazorViewModel
        ViewModel { get; set; }

    public Cvl.ApplicationServer.Server.Node.Processes.TestProcess.HelloWorldModel Model =>
    (Cvl.ApplicationServer.Server.Node.Processes.TestProcess.HelloWorldModel)ViewModel.Model;



    public void OnSubmit()
    {

    }

}
